<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cowin-Ping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <h2>Mumbai 18+ Notification</h2>
                <form action="/subscribe" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            required>
                    </div>
                    <button type="submit" class="mt-3 btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>